/* images from stock images https://www.pexels.com/ */
* {/*overrall page styles*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 
}

.navigation {
  overflow: hidden;
  background-color:#466a72;;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px 5px gray;
  height: 50px;
  z-index: 2;
}

.navigation a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 font-size: 17px;
  font-weight: bold;
}

.navigation a:hover {
  background: #ddd;
  color: black;
  border-radius: 40px;
  font-weight: bold;
}
  /* Add a color to the active/current link */
.navigation a.active {
  background-color: white;
  color: black;
  border-radius: 40px;
  text-shadow: 4px 4px 8px #727171;
  font-weight: bold;

}


.landingtopbannerimgcontainer{
background-image:url('../images/lodgesceneview.jpg') ;
background-size: cover; 
height: 100vh; 
width: 100vw;
padding-top:80px;


}

.landingtopbannertexttitle{
position: fixed;
top: 33%;
left: 67.5%;
transform: translate(-50%, -50%);
font-family:'Times New Roman', Times, serif;
font-size: 95px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
width: 45%;
height: fit-content;
color: white;
text-shadow: 4px 4px 8px #727171;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color:#466a72;
  color: white;
  text-align: center;
  padding: 20px;
  
}
.footer p{
  font-family: monospace;
}




/*.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}*/

.centeredtextlanding {  /* Centered text , Welcome message on landing page*/
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  font-weight: bold;
}
.centeredtextlanding a { /*"Start Here" landing page style */
  background-color: white;
  color: black;
  border-radius: 40px;
  text-shadow: 4px 4px 8px #727171;
text-decoration: none;
}
.bannerimg{/*banner image under navigation*/
/* height: 300px; */
background-size: 100vw 50vh !important;
padding-top: 100px;


background-image:url('../images/lodgesceneviewheaderbanner.jpg') ;
background-repeat: no-repeat;



}
.bannerimg p{
font-size: 100px;

margin-left: 50px;

color: white;
font-family:'Times New Roman', Times, serif;


}
.bodyinformation , .attractionsbody  {


background-color: lightgrey;
width: auto;
border: 15px solid #466a72;
padding: 20px;
margin: 20px;
height: fit-content;



box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
;

margin-bottom: 85px;
}
.aboutimage img{

  float: left;
  margin: 5px;
  height: 300px;
  width: 600px;


}
.attractionsimages{
display: flex;
justify-content:space-between;

}
.attractimage1{
  margin-bottom:10px;
  width: 300px;
  height:200px;
}
.attractimage2{
   width: 300px;
  height:200px;
  
}

/*.attractionsbody {

height: 450px;


}*/


h2{
text-align: center;
font-size: 50px;
font-size: calc(1.325rem + .9vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;

}




/* input{
border-radius: 5rem;
padding: 5px 10px;
border: none;
margin: 15px 15px;
} */




.container{
display: grid;
column-gap: 25px;
padding-top: 25px;
padding-right: 5%;
padding-left: 5%;
width: 100%;
margin-right: auto;
margin-left: auto;

}


.attractioncontainer{
display: grid;
column-gap: 25px;
padding-top: 25px;
padding-right: 5%;
padding-left: 5%;
width: 100%;
margin-right: auto;
margin-left: auto;

}


.griditem1{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 3;
}

.griditem2{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
}

.griditem3{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 3;
grid-row-end: 5;
}

.griditem4{
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 3;
grid-row-end: 3;
}

.griditem5{
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 4;
grid-row-end: 4;
}

.griditem6{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 5;
} 


.btn{
background-color: #466a72;
border: #466a72;


padding: 10px 45px;
font-size: 1.2rem;
font-weight: 800;

line-height: 1.5;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
text-align: center;
display: inline-block;
text-decoration: none;
vertical-align: middle;
color: white;
border-radius: 5rem;
}

.btn:hover{
opacity: 0.8;
cursor: pointer;
}

.addressflex{
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}

.item{
flex: 0 0 45%;
} 

.addresscontainer{
display: flex;
flex-direction: column;

justify-content: space-evenly;
height: 100%;
}

.streetgrouping{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
height: 50%;
}

.citygrouping{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
height: 57%;
}


.smaller{
flex: 0 0 20%;
}

.legend{
float: left;
width: 100%;
padding: 0;
margin-bottom: 0.5rem;
font-size: calc(1.275rem + .3vw);
line-height: inherit;
} 

.fieldset{
min-width: 0;
padding: 25px 0 0 0;
margin: 0;
border: 0;
}


.form-label{
margin-bottom: 0.5rem;
display: inline-block;
padding: 0.5rem 0 0 0;
}

.registrationinput{
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
margin: 0;
font-family: inherit;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #dee2e6;
border-radius: 0.375rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown{
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  word-wrap: normal;
  text-transform: none;
  margin: 0;
  font-family: inherit;
}

#successmessage{
height: 5rem;
width: 10rem;
background-color: lightcoral;
color: white;
text-align: center;
border: solid;
opacity: 0.8;
}

.successstatus{
padding: 1rem 1rem;
text-emphasis: #0a3622;
border-color: #a3cfbb;
color: #0a3622;
position: relative;
background-color: #d1e7dd;
border-radius: 0.5rem;
}

.alertstatus{
padding: 1rem 1rem;
text-emphasis: #58151c;
border-color: #f1aeb5;
color: #58151c;
position: relative;
background-color: #f8d7da;
border-radius: 0.5rem;
}

.username{
position: absolute;
color: white;
right: 5px;
top: 15px;
}

img{
background-color: gray;
width: 200px;
height: 200px;
border-radius: 0.5rem;
}


/* [type=radio] { 
position: absolute;
opacity: 0;
width: 0;
height: 0;
}


[type=radio] + img {
cursor: pointer;
}


[type=radio]:checked + img {
outline: 2px solid #f00;
} */

.flexcontainer{
display: flex;
width: 100%;
justify-content: space-around;
padding-top: 5rem;
padding-bottom: 5rem;
}



.reservationinput{
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
margin: 0;
font-family: inherit;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #dee2e6;
border-radius: 0.375rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.reservationcontainer{
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 3rem;
}

.rescontainer1{
display: flex;
flex-wrap: wrap;
/* width: 100%; */
justify-content: space-evenly;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
align-items: baseline;
}

.containeritem{
flex-basis: 15%;
}

/* .rescontainer2{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
} */

.rescontainer3{
display: flex;
margin-top: 1rem;
flex-wrap: wrap;
width: 100%;
/* justify-content: space-between; */
padding-top: 1rem;
padding-bottom: 1rem;

justify-content: center;
justify-content: space-evenly;


}

.rescontainer4{
display: flex;
justify-content: center;
padding-top: 1rem;
padding-bottom: 1rem;

}

#logout{

position: absolute;
right: 215px;
top: 1px;
}

#logoutlink{
text-decoration: underline;
color: lightblue;
}
#logout #logoutlink:hover{
 
 background:none;
 color: none;
 border-radius: none;
 font-weight: none;
 
}
.room1{

flex-basis: 45%;
display: flex;
flex-wrap: wrap;
align-content: space-between;
/* justify-content: space-between; */
text-align: center;
/* align-items: baseline; */

  
  filter: brightness(120%);
  color: white;
  font-weight: 300;
  font-family: 'Roboto';
  margin-bottom: 3rem;
/* justify-content: center;
align-content: center; */
}

.room2{

flex-basis: 45%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;


  
  filter: brightness(120%);
  color: white;
  font-weight: 300;
  font-family: 'Roboto';
  margin-bottom: 3rem;
/* justify-content: center;
align-content: center; */
}

.room3{

flex-basis: 45%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;


  
  filter: brightness(120%);
  color: white;
  font-weight: 300;
  font-family: 'Roboto';
/* justify-content: center;
align-content: center; */
}

.room4{

flex-basis: 45%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;



  filter: brightness(120%);
  color: white;
  font-weight: 300;
  font-family: 'Roboto';
/* justify-content: center;
align-content: center; */
}


.bedroomimage{
flex-basis: 45%;
align-content: center;
}

.bedroominfo{
  /* float: right; */
flex-basis: 45%;
/* margin-top: auto;
margin-bottom: auto; */
align-content: center;
}

p{
margin-top: 1rem;
}

.numberofguests{
  flex-basis: 28%;
}

.room1 input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 15px;
  top: 1px;
  /* margin: 0; */
  transition: all 300ms ease;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}



.room2 input{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1px;
  right: 15px;
  /* margin: 0; */
  transition: all 300ms ease;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}



.room3 input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 15px;
  top: 1px;
  /* margin: 0; */
  transition: all 300ms ease;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}



.room4 input{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1px;
  right: 15px;
  /* margin: 0; */
  transition: all 300ms ease;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}



.roomcontainer{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border: 1px solid black;
 background-color: #466a72;
  padding: 1.5rem;
  border-radius: 1rem;
}

.roomcontainer:hover{
  opacity: 0.8;
  box-shadow: 0 0 12px #15F5BA;
}

input:checked ~ .roomcontainer{
  opacity: 0.5;
  /* box-shadow: 0 0 12px #836FFF; */
  
}

.roomheader{
  flex-basis: 100%;
  margin-bottom: 2rem;
}

.rooms{
  border-radius: 1.5rem;
}

.rooms:hover{
  box-shadow: 0 0 12px #15F5BA;
}
#submitbutton{
  text-align:center;
}
.signuptext{
  text-align:center;
  font-size:20px;
}

.contactcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

er{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.summaryitem{
  /* padding: 2.5rem 2.5rem; */
  flex-basis: 30%;
}

#cancelres{
  background: red;
  border: red;

  padding: 10px 45px;
  font-size: 1.2rem;
  font-weight: 800;

  line-height: 1.5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  text-align: center;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  color: white;
  border-radius: 5rem;
}

#cancelres:hover{ 
    opacity: 0.8;
    cursor: pointer;
}

.imageflex{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.roomtypestuff{
  display: flex;
  width: 100%;
  justify-content: left;
}

.roomtypeimage{
flex-basis: 25%;
}

.roomtypeinfo{
  flex-basis: 25%;
  justify-items: baseline;
}

.requests{
  flex-basis: 25%;
}

.costcontainer{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  text-align: center;
}

.bigcontainer{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.buttonContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tablediv{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table-style {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-style thead tr {
  background-color: #466a72;
  color: #ffffff;
  text-align: left;
}

.table-style th,
.table-style td {
    padding: 12px 15px;
}

.table-style tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-style tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-style tbody tr:last-of-type {
  border-bottom: 2px solid #466a72;
}

.table-style tbody tr.active-row {
  font-weight: bold;
  color: #466a72;
}

.attractionscontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.itemcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  margin-bottom: 5rem;
}

.imagecontainer{
  flex-basis: 5%;
  display: flex;
  align-content: baseline;
  align-items: center;
}

.textcontainer{
  flex-basis: 45%;
  display: flex;
  align-items: center;
  align-content: baseline;
}

.headercontainer{
  flex-basis: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.attractimage2{
 height: 100%;
}
